#BtnInfo {
    -fx-background-color: skyblue;
	-fx-text-fill: rgb(104, 29, 29);
}

.root {
    -fx-background-images: url("/src/clientFXMLS/background.jpg");
    -fx-background-color: rgb(147, 176, 219) ;
    background-repeat: no-repeat;
    background-size: cover;
}