#BtnInfo {
    /* -fx-background-color: skyblue;
	-fx-text-fill: rgb(104, 29, 29); */

    -fx-background-color:
    #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
-fx-background-radius: 5;
-fx-background-insets: 0,1,1;
-fx-text-fill: black;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.root {
    -fx-background-image: url('\background.jpg');
}

#exitbutton{
	-fx-background-image: url("exit.jpg");
	-fx-background-color: transparent;
}

.combo-box{
	-fx-focus-color: transparent;
	-fx-text-box-border: transparent;
	-fx-opacity: 90%;
	-fx-background-color: #ececec;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #ff0000;
}

.choice-box {
	-fx-focus-color: transparent;
	-fx-text-box-border: transparent;
	-fx-opacity: 90%;
	-fx-background-color: #ececec;
	-fx-text-fill: black;
	-fx-prompt-text-fill: #00ff37;
}

.button {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}


.scroll-pane {
	-fx-background-color: transparent;
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}


.table-view{
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%, rgba(255, 255, 255, 0.77), transparent);
	-fx-border-color: rgba(65,65,65,0.63);
	-fx-border-width: 2 2 2 2;
	-fx-border-style: solid;
	-fx-border-radius: 13;
	-fx-background-radius: 13;
	-fx-faint-focus-color: transparent;
}

.table-row-cell:selected{
	-fx-text-background-color: #000000;
}

.table-cell:filled:focused {
	-fx-border-color: transparent;
}

.table-view .column-header-background .filler {
	-fx-background-color: transparent;
}

.table-view .corner {
	-fx-background-color: transparent;
}

.table-view .column-header-background{
	-fx-background-color: linear-gradient(to left top, -fx-color6,  -fx-color5);
	-fx-background-radius: 13px 13px 0px 0px;
	/*-fx-background-insets: 0 11px 0 0;*/
	-fx-padding: 0 0 5px 0;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .table-cell{
	-fx-border-color: rgba(87, 87, 87, 0.76);
	-fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
	-fx-background-color: rgba(236, 230, 225, 0.9);
	/*-fx-background-color:  rgba(165, 245, 205, 0.27);*/
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

.table-row-cell:even{
	/*-fx-background-color: rgba(56, 77, 75, 0.27);*/
	-fx-background-color: rgba(213, 255, 247, 0.9);
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

.table-row-cell:empty{
	-fx-opacity: 0;
}
.table-row-cell:not(:empty){
	-fx-opacity: 100;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
	-fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
	-fx-background-color:  linear-gradient(to left top, -fx-color6, -fx-color5);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
	/*-fx-background-color:  linear-gradient(to left top, -fx-color6,  -fx-color5);*/
	-fx-background-color: transparent;
}

.table-row-cell:highlighted {
	-fx-background-color: #f602bc;
	-fx-background-radius: 15px;
}